
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: fixed;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  margin: 0px;
}
.content img{

  min-width: 10%;
  max-width: 20%;
}

.menu{

  text-align: center;
  font-size: 300%;
  font-size-adjust: auto;
  font-family: 'Cormorant Garamond', serif;


}
ul{
  list-style-type: none;
}

:root {
  --mainColor: #df9b41;
}

a {
  color: var(--mainColor);
  text-decoration: none;
}

a:hover {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
  a:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}
